.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body {
  margin: 0;
  background-color: rgb(14, 16, 25);
}

.root {
  background-color: rgb(14, 16, 25);
  width: 100vw;
  height: calc(99vh - 5vh);
  margin-top: 5vh;
}

.font {
  color: white;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;
  font-size: x-large;
}

.item {
  width: 50%;
  margin-left: 5vw;
  text-align: left;
}

.break {
  margin-bottom: 2vh;
  border-bottom: white solid 2px;
  margin-left: 5vw;
  width: 25%;
}
